@tailwind base;
@tailwind components;
@tailwind utilities;

.special-anchor-gradient {
  /* transition: height 0.5s cubic-bezier(0.6, 0, 0.4, 1); */
  @apply after:transition-all after:absolute after:left-0 after:-bottom-0.5 after:h-0.5 after:w-full after:-z-10 after:bg-gradient-to-r after:from-orange-300 after:to-teal-600 hover:after:h-1;
}

.gradient-option-1 {
  @apply bg-gradient-to-r from-emerald-950 to-teal-600;
}

/*** MAIN Gradient for Links & Borders ***/
.gradient-option-2 {
  @apply bg-gradient-to-r from-teal-600/50 to-yellow-600/50;
}

.border-bottom-gradient {
  @apply border-b-2 bg-gradient-to-r from-teal-600 to-yellow-600;
}

.border-gradient {
  background-image: linear-gradient(#d99a5a, #d99a5a);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
  text-decoration: none;
  /* border: 10px solid;
  border-image-slice: 1;
  border-width: 5px; */
}

.border-gradient:hover,
.border-gradient:focus,
.border-gradient:active {
  background-size: 100% 0.1em;
}

.border-gradient-active {
  background-size: 100% 0.1em;
}

.border-gradient-green {
  border-image-source: linear-gradient(to left, #00c853, #b2ff59);
}
/*** END: MAIN Gradient for Links ***/

.gradient-option-3 {
  @apply bg-gradient-to-r from-yellow-600 to-orange-300;
}

.gradient-option-4 {
  @apply bg-gradient-to-r from-orange-300 to-teal-600;
}

.gradient-option-5 {
  @apply bg-gradient-to-r from-amber-700 to-orange-600;
}

.gradient-clear-1 {
  @apply bg-gradient-to-r from-10% to-orange-600;
}

.prose .subtitle {
  @apply mt-0;
}

.prose p {
  @apply my-5;
}

.prose ul :where(li > p) {
  @apply mt-0 mb-1;
}

/* :not(:where([class~=not-prose],[class~=not-prose] *)) */
.prose :where(ul) {
  @apply list-disc list-outside mt-5 mb-5 pl-6;
}

/* :not(:where([class~=not-prose],[class~=not-prose] *)) */
.prose :where(ul > li) {
  @apply pl-1.5;
}

/* :not(:where([class~=not-prose],[class~=not-prose] *)) */
.prose :where(li) {
  @apply my-2;
}

.pills > span:first-child {
  @apply ml-0;
}
